/**
 * Created by José Angel Lujan Villaseñor on 23/05/2017.
 */

@font-face {
    font-family: 'GothamBook';
    src: url(../fonts/GothamBookRegular.otf);
}

@font-face {
    font-family: 'GothamThin';
    src: url(../fonts/GothamThinRegular.otf);
}

@font-face {
    font-family: 'GothamBold';
    src: url(../fonts/GothamBoldRegular.ttf);
}

@font-face {
    font-family: 'HandOfSean';
    src: url(../fonts/HandOfSean.ttf);
}

/* GENERAL STYLES */
body {
    font-family: 'GothamBook', sans-serif;
    overflow-x: hidden;
}

.spacing {
    padding: 100px 0;
    overflow: hidden;
}

.no-margin {
    margin: 0;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.vertical-align-abs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    clip: rect(0px, auto, auto, 0px);
    top: 0;
    left: 0;
}

.parallax-element {
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover!important;
    will-change: transform;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.heading {
    color: #00498e;
    font-size: 28px;
    position: relative;
    margin: 0 0 50px 0;
}

.heading span {
    color: #fff;
    position: relative;
    z-index: 1;
    font-weight: bold;
    padding: 5px 0;
}

.heading span:before {
    content: '';
    height: 100%;
    width: 50vw;
    position: absolute;
    top: 0;
    background-color: #00498e;
    z-index: -1;
    pointer-events: none;
}

.heading.heading-right span::before {
    left: -5px;
}

.heading.heading-left span::before {
    right: -5px;
}

.white {
    color: white;
}

.blue {
    color: #00498e;
}

.yellow-btn {
    color: #0b2b2e;
    font-family: 'GothamBold', sans-serif;
    display: inline-block;
    padding: 8px 30px;
    background-color: #ffd400;
    margin: 0;
}

.text {
    font-family: 'GothamThin', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.bold {
    font-weight: bold;
}

/* NAVBAR */
.navbar {
    background-color: #fff;
    position: relative;
    height: 120px;
    margin: 0;
    border: 0;
}

.navbar .top-header {
    display: table;
    height: 120px;
    width: 100%;
}

.navbar .top-header .col {
    display: table-cell;
    width: 33.33333%;
    vertical-align: middle;
    padding: 0 15px;
    height: 120px;
}

.navbar .top-header .col .social i {
    position: relative;
    height: 25px;
    width: 25px;
    text-align: center;
    padding-top: 5px;
    color: #00498e;
    border-radius: 8px;
    transition: all 150ms ease;
}

.navbar .top-header .col .social i:hover {
    color: #fff;
    background-color: #00498e;
}

.navbar .top-header .col .social i::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1.5px solid #00498e;
    border-radius: 8px;
    padding: 5px 8px;
}

.navbar .top-header .col .links {
    text-align: right;
}

.navbar .top-header .col .links a {
    color: #3e3d3c;
    text-decoration: none;
}

.navbar .collapse-container {
    position: absolute;
    top: 100%;
    max-width: 1170px;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 50px;
    transition: height 300ms ease, width 300ms ease;
    z-index: 9999;
}

.navbar .collapse-container::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1170px;
    height: 100%;
    background-color: #002042;
    opacity: .8;
    transition: all 300ms ease;
}

.navbar .collapse-container.scrolling {
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    max-width: none;
}

.navbar .collapse-container.scrolling::before {
    width: 100%;
}
/*
.navbar .collapse-container .navbar-collapse {
    transition: background-color 500ms ease;
}

.navbar .collapse-container.scrolling .navbar-collapse {
    background-color: #002042;
}*/

.navbar .navbar-nav {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .navbar-nav>li>a {
    color: #fff!important;
    transition: padding 300ms ease;
}

.navbar .navbar-nav>li>a::after {
    content: '|';
    position: relative;
    left: 15px;
}

.navbar .collapse-container.scrolling .navbar-nav>li>a {
    padding-top: 22.5px;
    padding-bottom: 22.5px;
}

.navbar .navbar-nav>li:nth-last-of-type(1)>a::after {
    content: '';
}

.navbar .navbar-nav>li::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: #ffd400;
    opacity: 0;
    transition: opacity 250ms ease;
}

.navbar .navbar-nav .dropdown.open a {
    background-color: transparent;
}

.navbar .navbar-nav>li:hover::after,
.navbar .navbar-nav>li.open::after {
    opacity: 1;
}

.navbar .navbar-nav .dropdown .dropdown-menu {
    background-color: transparent;
    padding: 0 0 3px 0;
}

.navbar .navbar-nav .dropdown .dropdown-menu::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #343438;
    opacity: .6;
    pointer-events: none;
    z-index: -1;
}

.navbar .navbar-nav .dropdown .dropdown-menu li a {
    color: #fff!important;
    transition: color 250ms ease;
    position: relative;
    padding: 5px 15px;
}

.navbar .navbar-nav .dropdown .dropdown-menu li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
    border-bottom: 1px solid #555;
}

.navbar .navbar-nav .dropdown .dropdown-menu li:nth-last-of-type(1) a::after {
    border-bottom: 1px solid transparent;
}

.navbar .navbar-nav .dropdown .dropdown-menu li a:hover {
    color: #ffd400!important;
}

/* BANNER */
.banner {
    height: calc(100vh - 120px);
    /*background: url(../img/index/banner.jpg) no-repeat center center;
    background-size: cover;*/
    background: transparent;
    color: #fff;
}

.banner h3 {
    border: 3px solid #fff;
    display: inline-block;
    padding: 15px;
}

.banner h2 {
    font-size: 42px;
    font-weight: bold;
    text-shadow: 1px 0px 0px #fff;
}

.banner h2::first-line {
    font-size: 32px;
}

.banner .parallax-element {
    /*background: url(../img/index/banner.jpg) no-repeat center center;*/
}

.banner .container,
.banner .carousel,
.banner .carousel .carousel-inner,
.banner .carousel .carousel-inner .item  {
    height: 100%;
}

.banner .carousel .carousel-control {
    background-image: none;
}

.banner .carousel .carousel-indicators {
    bottom: 10%;
}

.banner .carousel .carousel-indicators li {
    background-color: #343438;
    opacity: .6;
    border: 1px solid #343438;
    width: 16px;
    height: 16px;
    transition: background-color 300ms ease, border 300ms ease;
}

.banner .carousel .carousel-indicators li.active {
    width: 18px;
    height: 18px;
    background-color: #ffd400;
    border: 1px solid #ffd400;
    opacity: 1;
}

/* NOSOTROS */
.nosotros .img-container {
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.nosotros .img-container::before,
.nosotros .img-container::after {
    content: '';
    position: absolute;
    transition: all 300ms ease;
    pointer-events: none;
}

.nosotros .img-container::before {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff;
    bottom: 5px;
    left: 100%;
    opacity: 0;
    z-index: 10;
}

.nosotros .img-container.active::before,
.nosotros .img-container:hover::before {
    opacity: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.nosotros .img-container.active::after,
.nosotros .img-container:hover::after {
    background-color: #00498e;
    mix-blend-mode: multiply;
    left: 5px;
    top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.nosotros .img-container .img-bg {
    height: 290px;
    background-size: cover!important;
}

.nosotros .tab-content {
    padding: 5px;
}

.nosotros h3 {
    font-weight: bold;
    font-size: 22px;
    margin: 20px 0;
}

/* VIDEO */
.video {
    position: relative;
    text-align: center;
}

.video .parallax-element {
    /*background: url(../img/index/video.jpg) no-repeat center center;*/
}

.video i {
    font-size: 140px;
    color: #fff;
}

/* INNOVAS */
.innovas {
    position: relative;
    padding: 100px 0;
    margin-top: 100px;
}

.innovas h2 {
    margin: 0 0 15px 0;
}

.innovas .question-box {
    padding: 80px;
    background-color: rgba(0,0,0,.6);
}

.innovas .input-group {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.innovas .question-box i {
    position: absolute;
    color: #fff;
    font-size: 30px;
    top: 8px;
    left: 10px;
}

.innovas .question-box input {
    background-color: transparent;
    border: 2px solid #fff;
    width: 100%;
    border-radius: 0;
    height: 50px;
    box-shadow: none!important;
    color: #fff;
    font-size: 20px;
    padding-left: 45px;
}

/* INDUSTRIAS */
.industrias .grid .grid-panel {
    float: left;
    width: 25%;
    position: relative;
}

.industrias .grid .grid-panel::before {
    /*content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    mix-blend-mode: multiply;
    pointer-events: none;
    transition: background-color 300ms ease;*/
}

.industrias .grid .grid-panel:hover::before {
    /*background-color: #707070;*/
}

.industrias .grid .grid-panel .img-bg {
    /*background-size: cover!important;
    height: 330px;*/
}

.industrias .grid .grid-panel {
    height: 330px;
    position: relative;
    padding: 30px;
    color: #fff;
}

.industrias .grid .grid-panel div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.industrias .grid .grid-panel h3 {
    text-align: center;
    font-size: 22px;
    padding: 15px;
    transition: all 300ms ease;
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

.industrias .grid .grid-panel:hover h3 {
    font-size: 30px;
}

.industrias .grid .grid-panel h3::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 30px;
    border: 2px solid transparent;
    left: 0;
    top: 0;
    transition: all 400ms ease;
}

.industrias .grid .grid-panel:hover h3::before {
    font-size: 30px;
    border: 2px solid #fff;
}

/*.industrias .grid .grid-panel .logo-text {
    display: block;
    width: calc(100% - 40px);
    max-width: 300px;
    padding-left: 100px;
    margin: 0 auto;
    position: relative;
}

.industrias .grid .grid-panel .logo-text::before,
.industrias .grid .grid-panel .logo-text::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 74px;
    top: 50%;
    transform: translateY(-50%);
}


.industrias .grid .grid-panel .logo-text::before {
    background: url(../img/index/industrias/logo-before.png) no-repeat center center;
    background-size: cover;
    width: 50px;
    height: 74px;
    left: 0;
}

.industrias .grid .grid-panel .logo-text::after {
    width: 0;
    height: 80px;
    left: 80px;
    border: 2px solid #fff;
}*/

.industrias .grid .grid-panel.red {
    background-color: #90181c;
}

.industrias .grid .grid-panel.light-red {
    background-color: #ad5057;
}

.industrias .grid .grid-panel.pink-red {
    background-color: #ea775e;
}

.industrias .grid .grid-panel.pink {
    background-color: #ff3e3a;
}

.industrias .grid .grid-panel.brown {
    background-color: #ba7132;
}

.industrias .grid .grid-panel.orange {
    background-color: #ff8310;
}

.industrias .grid .grid-panel.yellow {
    background-color: #fff000;
}

.industrias .grid .grid-panel.light-green {
    background-color: #18c139;
}

.industrias .grid .grid-panel.green {
    background-color: #2ba64d;
}

.industrias .grid .grid-panel.dark-green {
    background-color: #007648;
}

.industrias .grid .grid-panel.gray-blue {
    background-color: #7cb6de;
}

.industrias .grid .grid-panel.cyan {
    background-color: #00c5c6;
}

.industrias .grid .grid-panel.blue {
    background-color: #009dde;
}

.industrias .grid .grid-panel.dark-blue {
    background-color: #004a92;
}

.industrias .grid .grid-panel.purple {
    background-color: #643791;
}

.industrias .grid .grid-panel.magenta {
    background-color: #980573;
}

.industrias .grid .grid-panel.light-magenta {
    background-color: #f1088f;
}

.industrias .grid .grid-panel.gray {
    background-color: #aaafb0;
}

/* AVENTURA */
.aventura,
.aventura .container {
    position: relative;
    padding: 100px 0;
}

.aventura .parallax-element {
    /*background: url(../img/index/aventura.jpg) no-repeat center center;*/
}

.aventura img {
    position: absolute;
    left: 0;
    top: 0;
}

.aventura h1 {
    font-family: 'HandOfSean', cursive;
    font-size: 42px;
    color: #fffae6;
    padding: 20px;
    border: 5px solid #fff;
    display: inline-block;
    position: relative;
    margin: 0;
}

/* BLOG */
.blog .blog-feed .img-bg {
    height: 400px;
}

.blog .blog-feed h4 {
    font-size: 16px;
    margin: 20px 0;
}

.blog .blog-feed h5 {
    color: #767d7f;
    margin: 0 0 15px 0;
}

.blog .blog-feed p {
    margin-bottom: 15px;
}

.blog .blog-feed a {
    color: #004875;
    text-decoration: none!important;
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #004875;
    transition: background 300ms ease;
}

.blog .blog-feed a:hover,
.blog .blog-feed a:focus {
    color: #fff;
    background-color: #004875;
}

.blog .blog-feed a:focus {
    -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.4);
    box-shadow:         inset 0 0 10px rgba(0,0,0,.4);
}

.blog .blog-nav {
    margin-top: 30px;
}

.blog .blog-nav {
    text-decoration: none!important;
}

.blog .blog-nav a i {
    font-weight: 100;
    font-size: 40px;
    border-radius: 50%;
    border: 2px solid #7f7f7f;
    color: #7f7f7f;
    position: relative;
    height: 38px;
    width: 38px;
}

.blog .blog-nav a i::before {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.blog .blog-nav a i.fa-angle-left::before {
    left: 7px;
}

.blog .blog-nav a i.fa-angle-right::before {
    right: 7px;
}

.blog .carousel-control {
    background-image: none!important;
}

/* REGISTRO */
.registro {
    padding: 100px 0;
    position: relative;
}

.registro h2 {
    margin: 10px 0;
}

/* CONTACTO */
.contacto form {
    margin-top: 30px;
}

.contacto input[type=text],
.contacto input[type=email],
.contacto textarea {
    width: 100%;
    border: 1px solid #aaaaaa;
    color: #9c9c9c;
    outline: none!important;
    margin-bottom: 20px;
    min-height: 40px;
    padding-left: 15px;
    transition: box-shadow 120ms ease;
}

.contacto input[type=text]:focus,
.contacto input[type=email]:focus,
.contacto textarea:focus {
    box-shadow: 3px 3px 3px rgba(0,0,0,.3);
}

.contacto textarea {
    padding-top: 10px;
    height: 100px;
}

.contacto input[type=submit] {
    background-color: #00498e;
    color: #fff;
    border: 0;
    padding: 10px 25px;
    font-size: 16px;
}

/* FOOTER */
footer {
    position: relative;
}

footer .container {
    position: relative;
}

footer .footer-top {
    padding: 30px 0;
}

footer .footer-top div[class*=col-] {
    padding: 0;
}

footer .footer-top .social {
    float: right;
    top: 30px;
    right: 0;
}

footer .footer-top .social i {
    font-size: 25px;
    padding-top: 6px;
    height: 38px;
    width: 38px;
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    text-align: center;
    margin: 0 3px;
}

footer .center-img {
    margin: 30px 0 50px 0;
}

footer ul {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

footer ul li {
    list-style: none;
    display: inline-block;
}

footer ul li a {
    color: #fff;
}

footer ul li a::after {
    content: '|';
    padding-left: 15px;
}

footer ul li:nth-last-of-type(1) a::after {
    content: '';
    padding: 0;
}

footer .footer-bottom p {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    background-color: rgba(0,0,0,.85);
}

@media (max-width: 992px) {
    .navbar .top-header .col .social,
    .navbar .top-header .col .links {
        float: none;
        display: block;
        text-align: center;
        padding: 3px;
    }
    .navbar .navbar-nav>li>a {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar .navbar-nav>li>a::after {
        left: 5px;
    }
}

@media (max-width: 767px) {
    .navbar .top-header {
        padding: 8px 0;
        width: 100%;
    }
    .navbar .top-header .col {
        display: block;
        width: 100%;
        height: auto;
        padding: 2px 0;
    }
    .navbar .top-header .col img {
        max-height: 50px;
    }
    .navbar .col-xs {
        display: table-cell!important;
        width: 50%!important;
    }
    .navbar .collapse-container.scrolling {
        height: inherit;
    }
    .navbar .collapse-container::before {
        height: 50px!important;
    }
    .navbar .navbar-collapse {
        padding: 0 15px!important;
        position: relative;
    }
    .navbar .navbar-collapse::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #343438;
        opacity: .6;
    }
    .navbar .navbar-nav {
        left: auto;
        transform: none;
    }
    .navbar .navbar-nav>li::after {
        width: 5px;
        height: 40px;
        left: 0;
        top: 0;
    }
    .navbar .navbar-nav>li>a::after {
        content: '';
    }
    .navbar .collapse-container.scrolling .navbar-nav>li>a{
        padding: 10px 5px;
    }
    .navbar .navbar-nav .dropdown .dropdown-menu {
        padding-left: 15px;
    }
    .navbar .navbar-nav .dropdown .dropdown-menu::before {
        display: none;
    }
    .navbar .navbar-nav .dropdown .dropdown-menu li a {
        font-size: 11px;
    }
    .industrias .grid .grid-panel {
        width: 50%;
    }
    footer .footer-top .social {
        float: none;
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .industrias .grid .grid-panel {
        width: 100%;
    }
}

/* IE10+ FALLBACK */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .nosotros .img-container.active::after, .nosotros .img-container:hover::after {
        background-color: #002c5f;
        opacity: .7;
    }
    .industrias .grid .grid-panel::before {
        opacity: .55;
    }
    .industrias .grid .grid-panel:hover::before {
        background-color: #000;
    }
}